body {
    background: #333333;

}

.box {
    background: white;
    width: 150px;
    height: 150px;
    position: relative;
    margin: auto;
    top: 50px;
    animation-name: myanime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /*animation-direction: reverse;*/
    animation-direction: alternate;
    animation-fill-mode: forwards;
    /* animation-timing-function: ease-in; */
}

.box-1 {

    background: white;
    width: 100px;
    height: 100px;
    position: relative;
    margin: auto;
    top: 200px;
    animation-name: myanime1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    /*animation-direction: reverse;*/
    animation-direction: alternate;
    animation-fill-mode: forwards;
    /* animation-timing-function: ease-in; */
}

@keyframes myanime {
    0% {
        background-color: white;
        left: 0px;
        top: 0px;
        border-radius: 0;
    }

    25% {
        background-color: aqua;
        left: 300px;
        top: 0px;
        border-radius: 50% 0 0 0;
    }

    50% {
        background-color: #2222aa;
        left: 300px;
        top: 300px;
        border-radius: 50% 50% 0 0;
    }

    75% {
        background-color: #121212;
        left: 0px;
        top: 480px;
        border-radius: 50% 50% 50% 0;
    }

    100% {
        background-color: #335555;
        left: 0px;
        top: 0px;
        border-radius: 50% 50% 50% 50%;
    }
}

@keyframes myanime1 {
    0% {
        background-color: white;
        border-radius: 0;
    }

    25% {
        background-color: aqua;
        border-radius: 50% 0 0 0;
    }

    50% {
        background-color: #2222aa;
        border-radius: 50% 50% 0 0;
    }

    75% {
        background-color: #121212;
        border-radius: 50% 50% 50% 0;
    }

    100% {
        background-color: #335555;
        border-radius: 50% 50% 50% 50%;
    }
}

.title {
    color: aqua;
    text-align: center;
}